<div>
  <h1>TODOs</h1>
</div>

<div class="row">
  <div class="col">
    <h3>Add New</h3>
  </div>
  <div class="form-inline">
    <label htmlFor="date">Todo Date</label>
    <input class="form-control" type="date" [(ngModel)]="todoDate" />

    <label htmlFor="name">Todo Name</label>
    <input class="form-control" [(ngModel)]="todoName" />

    <br />
    <button class="form-control btn-success" (click)="createTodo()">
      Create
    </button>
  </div>
</div>

<div class="row">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Note</th>
        <th>User</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos$ | async">
        <td>{{ todo.id }}</td>
        <td>{{ todo.date }}</td>
        <td>{{ todo.name }}</td>
        <td>{{ todo.user }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteTodo(todo.id)">
            delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
