@page
@model IdentityServer.Pages.PAT.Index

<!DOCTYPE html>

<html>
<head>
    <title>Create a personal access token (PAT)</title>
</head>
<body>
<div>
    <form method="post">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Token details</h2>
                </div>

                <div class="card-body">
                   <p>This form creates a personal access token that is intended 
                    to be used to create IdentityServer clients using dynamic 
                    client registration.</p>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="View.LifetimeDays">Lifetime (in days)</label>
                        <input class="form-control" asp-for="View.LifetimeDays" autofocus>
                    </div>

                    <button class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </form>

    @if (Model.Token != null)
    {
        <div class="col-sm-10">
            <label asp-for="Token"></label>
            <textarea rows="10" cols="100">@Model.Token</textarea>
        </div>
    }
</div>
</body>
</html>