<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="bin\Debug\net6.0\IdentityServerHost.exe" arguments="" stdoutLogEnabled="True" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="5001" />
      </environmentVariables>
    </aspNetCore>
    <security>
      <access sslFlags="None" />
    </security>
  </system.webServer>
  <location path="connect/mtls">
    <system.webServer>
      <security>
        <access sslFlags="Ssl, SslNegotiateCert, SslRequireCert" />
      </security>
    </system.webServer>
  </location>
  <location path="Test">
    <system.webServer>
      <security>
        <access sslFlags="Ssl, SslNegotiateCert, SslRequireCert" />
      </security>
    </system.webServer>
  </location>
</configuration>