@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <h1 class="display-4 text-center">Duende IdentityServer Step-Up Demo</h1>

    <p>
        This demo shows how to implement <a href="https://datatracker.ietf.org/doc/draft-ietf-oauth-step-up-authn-challenge/">Step-Up authentication</a>
        with Duende IdentityServer. The links in the navigation bar go to pages 
        that make API requests that have various authentication requirements 
        that can trigger Step-Up.
    </p>

    <p>
        The authentication requirements of the APIs invoked by the pages are as
        follows:
    </p>

    <dl class="row">
        <dt class="col-sm-2">Secure</dt>
        <dd class="col-sm-10">Requires an authenticated user</dd>

        <dt class="col-sm-2">Recent Auth</dt>
        <dd class="col-sm-10">Requires authentication in the past minute</dd>

        <dt class="col-sm-2">MFA</dt>
        <dd class="col-sm-10">Requires multifactor authentication</dd>

        <dt class="col-sm-2">Recent Auth and MFA</dt>
        <dd class="col-sm-10">Requires both</dd>
    </dl>

    <p>
        You can log in with the users alice and bob (passwords for each are the 
        same as the username). Bob always requires MFA, simulating a user who 
        has either opted in to always using MFA or is required to use MFA by 
        policy. Alice does not always require MFA, but when Step-Up requires it,
        Alice will be asked to perform MFA anyway.
    </p>

    <p>
        In Step-Up authentication, the client application (in this demo, the 
        pages in the application you're looking at now) makes a request to a 
        protected resource (the Api project in this demo). That API denies the 
        request and sets the WWW-Authenticate header to indicate that Step-Up
        is required. The Client application then issues a challenge to 
        the Authorization Server (the IdentityServerHost project here), setting
        the acr_values and/or max_age parameters as part of the request.

        Those values are used at IdentityServer to determine if a new login 
        and/or MFA is required.
    </p>
