@page
@model IdentityServerHost.Pages.Mfa.Index

<div class="lead">
    <h1>MFA</h2>

    <p>
        This page fakes MFA. In a real implementation, there would be more user 
        interaction here. The intent of this page is to show how to get to custom 
        pages where you can perform additional actions. See 
        StepUpInteractionResponseGenerator.cs for more details.
    </p>

    @if(Model.View.MfaRequestedByClient)
    {
        <p>The @Model.View.ClientName application requires MFA.</p>
    }
</div>

<form asp-page="/Account/Mfa/Index">
    <input type="hidden" asp-for="Input.ReturnUrl" />

    <button class="btn btn-primary" name="Input.Button" value="fake">Fake MFA</button>
    <button class="btn btn-warning" name="Input.Button" value="decline">Decline MFA</button>
</form>