@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (!Model.LoggedOut)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-logoutId="@Request.Query["logoutId"]" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>

            @if (Model.PostLogoutRedirectUri != null)
            {
                <div>
                    Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to the application.
                </div>
            }

            @if (Model.SignOutIframeUrl != null)
            {
                <iframe width="0" height="0" style="display:none" class="signout" src="@Model.SignOutIframeUrl"></iframe>
            }
        }
    }
</header>