@model string
@{
    ViewBag.Title = "Forbidden";
}

<div class="row">
    <div class="col-md-4">
        <h2>Forbidden</h2>
        <p>You do not have permission to perform this action.</p>
    </div>
</div>