@page "/remote"
@using System.Text.Json

@attribute [Authorize]

@inject HttpClient Http

<h1>Remote API</h1>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <pre>
        @data
    </pre>
}

@code {
    private string data;

    private record claim(string type, object value);

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("remote");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadFromJsonAsync<List<claim>>();
            data = JsonSerializer.Serialize(content, new JsonSerializerOptions { WriteIndented = true });
        }
        else
        {
            data = response.ReasonPhrase;
        }
    }
}
