@page "/todos"

@using Blazor.Shared

@attribute [Authorize]

@inject HttpClient Http

<h1>ToDo</h1>

@if (todos == null)
{
    <p>
        <em>Loading...</em>
    </p>
    <p>@error</p>
}
else
{
    <div class="row my-2">
        <label class="col-md-2" for="name">Todo Name</label>
        <input class="col-md-6 form-control" id="name" @bind="newName" />

        <button class="btn btn-primary col-md-4" @onclick="Add">Add</button>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>User</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var todo in todos)
                    {
                        <tr>
                            <td>@todo.Name</td>
                            <td>@todo.User</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@code {
    private List<ToDo> todos;
    private string error;

    private string newName = "Do something";

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("todos");
        if (response.IsSuccessStatusCode)
        {
            todos = await response.Content.ReadFromJsonAsync<List<ToDo>>();
        }
        else
        {
            error = "Error contacting API: " + response.StatusCode.ToString();
        }
    }

    private async Task Add()
    {
        var model = new ToDo { Name = newName };

        var response = await Http.PostAsJsonAsync("todos", model);
        if (response.IsSuccessStatusCode)
        {
            model = await response.Content.ReadFromJsonAsync<ToDo>();
            todos.Add(model);
        }
        else
        {
            error = "Error contacting API: " + response.StatusCode.ToString();
        }
    }
}