@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <strong>Hello, @context.User.Identity.Name!</strong>
                    <a href="@GetLogoutUrl().Result">Log out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="bff/login">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    private async Task<string> GetLogoutUrl()
    {
        var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;
        var sid = user.FindFirst("sid");

        if (sid is null)
        {
            return "/bff/logout";
        }
        else
        {
            return $"/bff/logout?sid={sid.Value}";
        }
    }
}